body {
  color: white;
  font-family: "Playfair Display SC", serif;
}
.product-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
  gap: 70px;
}
.single-book-img {
  height: 380px;
  width: 280px;
}

.single-book-container {
  display: flex;
  flex-direction: column;
  margin-top: 170px;
}

.book-info {
  display: flex;
  width: 800px;
  gap: 65px;
}

.book-text {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.book-title-author {
  display: flex;
  flex-direction: column;
  h1 {
    font-size: 34px;
    font-weight: 900;
    line-height: 1.2;
  }
  h2 {
    color: #a1a1a1;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 0.2;
  }
}
.about {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h3 {
    font-weight: 900;
    font-size: 18px;
  }
  p {
    color: #a1a1a1;

    font-family: "Lora", serif;
  }
}

.rating-button-container {
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.product-button-container {
    display: flex;
    gap: 40px;
    align-items: center;

    p{
    font-family: "Lora", serif;
    font-size: 12px;
    }
    button {
        color: white;
        background: #d4af37;
        font-weight: 700;
        font-size: 18px;
        padding: 10px 20px;
    }
}
.review-readlist {
  display: flex;
  gap: 40px;
  align-items: center;
}

.review-rating {
  top: 15px;
  padding-bottom: 20px;
}

.log-in-to-review {
  display: flex;
  align-items: center;
  gap: 20px;
}
.rating-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.description-text {
    font-family: 'Lora', serif;
    color: #DBDBDB;
    font-weight: 500;


}

.product-star-container {
    position: relative;
    cursor: pointer;
    top: 15px;
    bottom: 0;
    display: inline-block;
    width: 135px;
}
.star-empty, .star-filled {
  position: absolute;
  left: 0;
  bottom: -15px;
}
.rating-number-container {
    display: flex;
    align-items: center;
    font-weight: 800;
    font-family: "Mada", sans-serif;
    gap: 10px;
    .rating-number {
        font-size: 32px;
    }
    p{
        font-size: 16px;
    }
}

.reviews-wrapper {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.review-list {
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.review {
    width: 100%;
}

.review-text {
    font-size: 16px;
    width: 70%;
    background: transparent;
    padding: 0;
}
.review-body{
  width: 100%;
}
.title {
    font-size: 20px;
}


.review-popup {
  display: none;
  flex-direction: column;
  width: 730px;
  height: 470px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.upper-popup {
  display: flex;
  align-items: center;
  background: #161616;
  justify-content: space-between;
  padding: 15px 35px;
  border-radius: 10px 10px 0 0;
}
.popup-body {
  padding: 35px 0;
  background-color: #1f1f1f;
  border-radius: 0 0 10px 10px ;
}
.review-container {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
  img {
    width: auto;
    height: 271px;
  }
}

.review-title-text {
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  textarea {
    max-width: 387px;
    max-height: 136px;
    min-width: 387px;
    min-height: 136px;
    background: #AEAEAE;
    font-family: 'Lora' serif;
    padding: 10px;
  }
}

textarea:focus {
  outline: none;
}

.rating-star-container {
  display: flex;
  gap: 10px;
  align-items: center;
}

.star-container {
  display: flex;
}
.button-container {
  display: flex;
  padding: 0 60px 15px 15px;
  width: 100%;
  align-items: flex-end;

  button {
    width: 150px;
    padding: 10px 10px;
  }
}

.star-container-reviews {
  display: inline-flex;
  position: relative;
}

/* Empty star style */
.star-empty-review{
  position: relative;
  display: inline-block;
  font-size: 25px;
  color: #ddd;
  white-space: nowrap;
}

.star-empty-review i {
  margin: 0 5px;
}

/* Filled star overlay */
.star-filled-review {
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  height: 100%;
  overflow: hidden;
  color: #FFD700;
  font-size: 25px;
  white-space: nowrap;
  transition: width 0.1s ease-out;
}

.star-filled-review i {
  margin: 0 5px;
}

.star-rating {
  display: inline-flex;
  padding: 0px;
  cursor: pointer;
  position: relative;
}

.review-placeholer {
  font-size: 32px;
  font-weight: 900;
  width: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 200px;
  color: #676767;
}

.title-user {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 15px;
}

.fa-circle-user {
  font-size: 20px;
}

.star-container {
  z-index: 999;
}

.addtoreadlist {
  display: flex;
  height: 43px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 5px;
  transition: all 200ms;

}

.addtoreadlist:hover {
  background: #676767;
}